.logo > h1 > span {
  font-weight: 300 !important;
}

#name-and-title {
  margin: 0px 30px;
}


#refresh-small {
  display: none;
}
#refresh-big {
  display: inline-block;
}

@media only screen and (max-width: 720px) {
  #name-and-title {
    display: none;
  }
  #refresh-big {
    display: none;
  }
  #refresh-small {
    display: inline-block;
  }
}

.metric {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 16px 0px;
}

.metric > p {
  margin: 0px;
  margin-top: 4px;
  margin-right: 8px;
  font-weight: bold;
  font-family: 'Urbanist', sans-serif;
  opacity: 0.4;
  text-transform: uppercase;
}

.metric > div {
  display: flex;
  align-items: space-between;
  justify-content: flex-end;
  flex-direction: column;
}

.metric > div > div {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: space-between;
  justify-content: flex-end;
}

.metric > div > div > p {
  margin: 4px 0px;
}

.metric > div > div > p:first-child {
  margin-right: 16px;
}

.metric > div > div:first-child > p {
  font-weight: bold;
}

#data-loading {
  height: 41px;
  width: 41px;
}
